In [2]:
#Import needed packages,
import pandas as pd 

df= pd.read_csv("owid-covid-data.csv")

C:\Users\user\AppData\Local\Temp\ipykernel_15868\3586588721.py:3: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv("owid-covid-data.csv")

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
#check how many rows and columns are in the dataframe
number_of_rows=df.shape[0]
number_of_columns=df.shape[1]
print(number_of_rows)
print(number_of_columns)

311365
67

In [6]:
#View the first 10 rows in the data 
df.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-01-08,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-01-09,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-01-10,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-01-11,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-01-12,NaN,0.0,0.0,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [7]:
#and the last 5
df.tail(5)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
311360,ZWE,Africa,Zimbabwe,2023-05-13,264821.0,5.0,10.286,5690.0,1.0,0.429,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
311361,ZWE,Africa,Zimbabwe,2023-05-14,264841.0,20.0,10.714,5690.0,0.0,0.429,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
311362,ZWE,Africa,Zimbabwe,2023-05-15,264848.0,7.0,10.286,5690.0,0.0,0.286,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
311363,ZWE,Africa,Zimbabwe,2023-05-16,264848.0,0.0,9.429,5690.0,0.0,0.286,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
311364,ZWE,Africa,Zimbabwe,2023-05-17,264848.0,0.0,8.143,5690.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [10]:
#Show the basic summary of data such as count, min, max, unique values, etc
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,2.753350e+05,3.026550e+05,3.013910e+05,2.546350e+05,302735.000000,301505.000000,275335.000000,302655.000000,301391.000000,254635.000000,...,178515.000000,118181.000000,212983.000000,286344.000000,233879.000000,3.113650e+05,1.066900e+04,10669.000000,10669.000000,10669.000000
mean,5.767156e+06,1.073397e+04,1.077678e+04,8.061661e+04,95.740952,96.103652,88010.375666,161.890445,162.525589,811.194069,...,32.909877,50.790203,3.097164,73.717755,0.722480,1.281151e+08,4.739668e+04,9.538903,12.633550,1477.149682
std,3.600088e+07,1.030085e+05,1.002455e+05,4.164645e+05,600.706338,591.334247,138439.520139,1127.171598,634.547240,1053.772688,...,13.574397,31.957386,2.548455,7.397226,0.148991,6.596962e+08,1.384241e+05,12.914011,26.344219,1840.907839
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.700000,1.188000,0.100000,53.280000,0.394000,4.700000e+01,-3.772610e+04,-44.230000,-95.920000,-1984.281600
25%,6.565000e+03,0.000000e+00,1.143000e+00,1.210000e+02,0.000000,0.000000,2039.082000,0.000000,0.246000,50.398500,...,22.600000,20.859000,1.300000,69.590000,0.602000,4.490020e+05,2.780000e+01,0.560000,-1.200000,24.645111
50%,6.239700e+04,1.700000e+01,3.771400e+01,1.230000e+03,0.000000,0.286000,20898.389000,2.396000,10.664000,338.621000,...,33.100000,49.839000,2.500000,75.050000,0.740000,5.882259e+06,4.530999e+03,7.750000,6.490000,900.418500
75%,6.419815e+05,5.230000e+02,6.310000e+02,1.064800e+04,6.000000,6.714000,107810.942500,68.501000,103.445000,1246.603000,...,41.300000,83.241000,4.200000,79.460000,0.829000,2.830170e+07,3.159700e+04,15.360000,18.070000,2399.257000
max,7.664400e+08,7.460822e+06,6.410667e+06,6.932578e+06,20027.000000,14677.857000,737554.506000,228872.025000,37241.781000,6476.319000,...,78.100000,100.000000,13.800000,86.750000,0.957000,7.975105e+09,1.282260e+06,76.550000,377.300000,10291.122000

In [11]:
df.describe(include=object)

       iso_code continent   location        date      tests_units
count    311365    296585     311365      311365           106788
unique      255         6        255        1234                4
top         ARG    Africa  Argentina  2022-04-20  tests performed
freq       1234     70168       1234         255            80099

In [12]:
#Drop the following columns: new_deaths_smoothed','new_cases_per_million','total_cases_per_million’
df_copy=df.copy()
df.drop(['new_deaths_smoothed','new_cases_per_million','total_cases_per_million'],axis=1,inplace=True)

In [13]:
#Rename the following columns:'date': 'Date','location':'Country','continent': 'Continent','iso_code':'ISO_code’
df.rename(columns={'date': 'Date','location':'Country','continent': 'Continent','iso_code':'ISO_code' },inplace=True )

In [25]:
#List the continent name: Create a list that holds the unique values of continent name
continent_unique=list(df.Continent.unique)

TypeError: 'method' object is not iterable

In [30]:
#There is something in sklearn library called Simple imputer helps with missing values in a dataset,
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='constant')
df2 = pd.DataFrame(imputer.fit_transform(df),columns=df.columns)
df2

,ISO_code,Continent,Country,Date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_cases_smoothed_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,missing_value,0.0,missing_value,missing_value,0.0,missing_value,...,missing_value,37.746,0.5,64.83,0.511,41128772.0,missing_value,missing_value,missing_value,missing_value
1,AFG,Asia,Afghanistan,2020-01-04,missing_value,0.0,missing_value,missing_value,0.0,missing_value,...,missing_value,37.746,0.5,64.83,0.511,41128772.0,missing_value,missing_value,missing_value,missing_value
2,AFG,Asia,Afghanistan,2020-01-05,missing_value,0.0,missing_value,missing_value,0.0,missing_value,...,missing_value,37.746,0.5,64.83,0.511,41128772.0,missing_value,missing_value,missing_value,missing_value
3,AFG,Asia,Afghanistan,2020-01-06,missing_value,0.0,missing_value,missing_value,0.0,missing_value,...,missing_value,37.746,0.5,64.83,0.511,41128772.0,missing_value,missing_value,missing_value,missing_value
4,AFG,Asia,Afghanistan,2020-01-07,missing_value,0.0,missing_value,missing_value,0.0,missing_value,...,missing_value,37.746,0.5,64.83,0.511,41128772.0,missing_value,missing_value,missing_value,missing_value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311360,ZWE,Africa,Zimbabwe,2023-05-13,264821.0,5.0,10.286,5690.0,1.0,0.63,...,30.7,36.791,1.7,61.49,0.571,16320539.0,missing_value,missing_value,missing_value,missing_value
311361,ZWE,Africa,Zimbabwe,2023-05-14,264841.0,20.0,10.714,5690.0,0.0,0.656,...,30.7,36.791,1.7,61.49,0.571,16320539.0,missing_value,missing_value,missing_value,missing_value
311362,ZWE,Africa,Zimbabwe,2023-05-15,264848.0,7.0,10.286,5690.0,0.0,0.63,...,30.7,36.791,1.7,61.49,0.571,16320539.0,missing_value,missing_value,missing_value,missing_value
311363,ZWE,Africa,Zimbabwe,2023-05-16,264848.0,0.0,9.429,5690.0,0.0,0.578,...,30.7,36.791,1.7,61.49,0.571,16320539.0,missing_value,missing_value,missing_value,missing_value
311364,ZWE,Africa,Zimbabwe,2023-05-17,264848.0,0.0,8.143,5690.0,0.0,0.499,...,30.7,36.791,1.7,61.49,0.571,16320539.0,missing_value,missing_value,missing_value,missing_value

In [38]:
#Groupby, df.groupby() : The groupby command allows us to divide our data into different groups and perform our data analysis.
df3 = df2.groupby(['Date','Country',])[['total_cases','total_deaths','total_vaccinations']].sum().reset_index()
df3

,Date,Country,total_cases,total_deaths,total_vaccinations
0,2020-01-01,Argentina,0,0,0
1,2020-01-01,Mexico,0,0,0
2,2020-01-02,Argentina,0,0,0
3,2020-01-02,Mexico,0,0,0
4,2020-01-03,Afghanistan,0,0,0
...,...,...,...,...,...
311360,2023-05-18,South America,0,0,957020867.0
311361,2023-05-18,South Korea,0,0,0
311362,2023-05-18,Upper middle income,0,0,5415545806.0
311363,2023-05-18,Uruguay,0,0,9021046.0
311364,2023-05-18,World,0,0,13381892700.0

In [34]:
#Replace “missing_value” to 0 for the following columns: [’total_cases’,’total_deaths’,’total_vaccinations’]
df2['total_cases'] = df2['total_cases'].replace(['missing_value'], ['0'])
df2['total_deaths'] = df2['total_deaths'].replace(['missing_value'], ['0'])
df2['total_vaccinations'] = df2['total_vaccinations'].replace(['missing_value'], ['0'])
df2

,ISO_code,Continent,Country,Date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_cases_smoothed_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,0,0.0,missing_value,0,0.0,missing_value,...,missing_value,37.746,0.5,64.83,0.511,41128772.0,missing_value,missing_value,missing_value,missing_value
1,AFG,Asia,Afghanistan,2020-01-04,0,0.0,missing_value,0,0.0,missing_value,...,missing_value,37.746,0.5,64.83,0.511,41128772.0,missing_value,missing_value,missing_value,missing_value
2,AFG,Asia,Afghanistan,2020-01-05,0,0.0,missing_value,0,0.0,missing_value,...,missing_value,37.746,0.5,64.83,0.511,41128772.0,missing_value,missing_value,missing_value,missing_value
3,AFG,Asia,Afghanistan,2020-01-06,0,0.0,missing_value,0,0.0,missing_value,...,missing_value,37.746,0.5,64.83,0.511,41128772.0,missing_value,missing_value,missing_value,missing_value
4,AFG,Asia,Afghanistan,2020-01-07,0,0.0,missing_value,0,0.0,missing_value,...,missing_value,37.746,0.5,64.83,0.511,41128772.0,missing_value,missing_value,missing_value,missing_value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311360,ZWE,Africa,Zimbabwe,2023-05-13,264821.0,5.0,10.286,5690.0,1.0,0.63,...,30.7,36.791,1.7,61.49,0.571,16320539.0,missing_value,missing_value,missing_value,missing_value
311361,ZWE,Africa,Zimbabwe,2023-05-14,264841.0,20.0,10.714,5690.0,0.0,0.656,...,30.7,36.791,1.7,61.49,0.571,16320539.0,missing_value,missing_value,missing_value,missing_value
311362,ZWE,Africa,Zimbabwe,2023-05-15,264848.0,7.0,10.286,5690.0,0.0,0.63,...,30.7,36.791,1.7,61.49,0.571,16320539.0,missing_value,missing_value,missing_value,missing_value
311363,ZWE,Africa,Zimbabwe,2023-05-16,264848.0,0.0,9.429,5690.0,0.0,0.578,...,30.7,36.791,1.7,61.49,0.571,16320539.0,missing_value,missing_value,missing_value,missing_value
311364,ZWE,Africa,Zimbabwe,2023-05-17,264848.0,0.0,8.143,5690.0,0.0,0.499,...,30.7,36.791,1.7,61.49,0.571,16320539.0,missing_value,missing_value,missing_value,missing_value

In [44]:
#From df3: Find total countries where total_deaths is greater than 1000000.
df3['total_deaths'] = pd.to_numeric(df3['total_deaths'], errors='coerce')

total_countries = len(df3[df3['total_deaths'] > 1000000])
print(total_countries)

6770

In [49]:
#How many dates we have in total where total_deaths is greater than 1000000
total_dates = len(df3[df3['total_deaths'] > 1000000]['Date'].unique())
print(total_dates)

981